CMMS_DB_PASSWORD=cmms-local-password
CMMS_DB_PORT=5432
CMMS_API_PORT=8080
CMMS_BOOTSTRAP_ADMIN_EMAIL=admin@cmms.local
CMMS_BOOTSTRAP_ADMIN_PASSWORD=LocalDev!12345
CMMS_BOOTSTRAP_ADMIN_DISPLAY_NAME=CMMS Administrator
